<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target xsi:type="FallbackGroup" name="fileList" returnToFirstOnSuccess="false">
      <target xsi:type="File" name="file" fileName="${specialFolder:folder=CommonApplicationData:cached=true}/Blue Prism/BluePrism.Api/BluePrism.Api-${shortdate}.log" keepFileOpen="true" openFileCacheTimeout="30">
        <layout>${longdate}|${level}|${logger}|${all-event-properties}|${message}</layout>
      </target>
      <target xsi:type="File" name="file" fileName="${specialFolder:folder=LocalApplicationData:cached=true}/Blue Prism/BluePrism.Api/BluePrism.Api${shortdate}.log" keepFileOpen="true" openFileCacheTimeout="30">
        <layout>${longdate}|${level}|${logger}|${event-properties:item=method}|${event-properties:item=elapsed}|${message}</layout>
      </target>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="fileList" />
  </rules>
</nlog>
