<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="BrowserAutomation.DefaultCommunicationTimeout" value="3000" />
    <add key="DocumentProcessing.ApiKey" value="" />
    <add key="DocumentProcessing.ApiEndpoint" value="http://localhost:61456/api/" />
    <add key="DocumentProcessing.Enabled" value="false" />
    <add key="DocumentProcessing.ResultQueue.Username" value="" />
    <add key="DocumentProcessing.ResultQueue.Password" value="" />
    <add key="DocumentProcessing.ResultQueue.BrokerUrl" value="rabbitmq://localhost" />
    <add key="DocumentProcessing.ResultQueue.QueueName" value="BluePrism.DocumentProcessing.BatchIdQueue" />
  </appSettings>

  <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
	</startup>
</configuration>
