<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="5.2.0" targetFramework="net472" />
  <package id="Autofac.Extras.Moq" version="5.0.1" targetFramework="net472" />
  <package id="BluePrism.Utilities.Testing" version="2.0.1" targetFramework="net47" />
  <package id="Castle.Core" version="4.4.1" targetFramework="net47" />
  <package id="Castle.Core.AsyncInterceptor" version="1.7.0" targetFramework="net47" />
  <package id="DbMocker" version="1.18.0" targetFramework="net47" />
  <package id="Fare" version="2.1.1" targetFramework="net47" />
  <package id="FluentAssertions" version="4.19.4" targetFramework="net47" />
  <package id="Func" version="0.2.2" targetFramework="net47" />
  <package id="Func.AspNet" version="0.2.4" targetFramework="net47" requireReinstallation="true" />
  <package id="Func.AspNet.Abstractions" version="0.2.4" targetFramework="net47" requireReinstallation="true" />
  <package id="IdentityModel" version="1.9.2" targetFramework="net47" />
  <package id="IdentityServer3" version="2.6.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net47" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net47" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.Owin" version="4.1.1" targetFramework="net47" />
  <package id="Microsoft.Owin.Hosting" version="4.1.1" targetFramework="net47" />
  <package id="Microsoft.Owin.Security" version="4.1.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Security.Jwt" version="4.1.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.1.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Testing" version="4.1.1" targetFramework="net47" />
  <package id="Microsoft.SqlServer.Management.SqlParser" version="160.20216.14" targetFramework="net47" />
  <package id="Moq" version="4.14.5" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net47" />
  <package id="NLog" version="4.7.2" targetFramework="net47" />
  <package id="NUnit" version="3.12.0" targetFramework="net47" />
  <package id="NUnit3TestAdapter" version="3.17.0" targetFramework="net47" developmentDependency="true" />
  <package id="Owin" version="1.0" targetFramework="net47" />
  <package id="System.Collections.NonGeneric" version="4.0.1" targetFramework="net47" />
  <package id="System.ComponentModel.Primitives" version="4.1.0" targetFramework="net47" />
  <package id="System.ComponentModel.TypeConverter" version="4.1.0" targetFramework="net47" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.6.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net47" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net47" />
</packages>
