<?xml version="1.0" encoding="utf-8"?>
<config>
  <server>
    <name>TestServer</name>
    <connection>TestConnection</connection>
    <port>8199</port>
    <ordered>False</ordered>
    <maxpendingchannels>16384</maxpendingchannels>
    <maxtransferwindowsize>4096</maxtransferwindowsize>
    <connectionmode>5</connectionmode>
    <verbose>True</verbose>
    <statuseventlogging>True</statuseventlogging>
    <CallbackConnection>
	    <CallbackProtocol>Grpc</CallbackProtocol>
      <HostName>TestLocalhost</HostName>
      <Port>8182</Port>
      <Mode>None</Mode>
      <CertificateName>TestCertName</CertificateName>
      <ClientCertificateName>TestClientCertName</ClientCertificateName>
      <ServerStore>CertificateAuthority</ServerStore>
      <ClientStore>AuthRoot</ClientStore>
    </CallbackConnection>
  </server>
  <connections>
    <connection>
      <bpserver />
      <port>8199</port>
      <callbackport>0</callbackport>
      <connectionmode>5</connectionmode>
      <ordered>False</ordered>
      <maxpendingchannels>16384</maxpendingchannels>
      <maxtransferwindowsize>4096</maxtransferwindowsize>
      <name>ValidRabbitMqConfig</name>
      <server>127.0.0.1</server>
      <extraparams>
      </extraparams>
      <rabbitmqconfiguration>
        <hosturl>rabbitmq://somebrokeraddress/</hosturl>
        <username>user1</username>
        <password>
          <secstr obf="BluePrism.Common.Security.EncryptingObfuscator" enc="22YGhrMVppgyHK6DyGzbRw==:HQ3Nu4SQoERuOuy+MDrD0A==" />
        </password>
      </rabbitmqconfiguration>
    </connection>
    <connection>
      <bpserver />
      <port>8199</port>
      <callbackport>0</callbackport>
      <connectionmode>5</connectionmode>
      <ordered>False</ordered>
      <maxpendingchannels>16384</maxpendingchannels>
      <maxtransferwindowsize>4096</maxtransferwindowsize>
      <name>RabbitMqConfigWithMissingUsername</name>
      <server>127.0.0.1</server>
      <extraparams>
      </extraparams>
      <rabbitmqconfiguration>
        <hosturl>rabbitmq://localhost/</hosturl>
        <password>
          <secstr obf="BluePrism.Common.Security.EncryptingObfuscator" enc="22YGhrMVppgyHK6DyGzbRw==:HQ3Nu4SQoERuOuy+MDrD0A==" />
        </password>
      </rabbitmqconfiguration>
    </connection>
    <connection>
      <bpserver />
      <port>8199</port>
      <callbackport>0</callbackport>
      <connectionmode>5</connectionmode>
      <ordered>False</ordered>
      <maxpendingchannels>16384</maxpendingchannels>
      <maxtransferwindowsize>4096</maxtransferwindowsize>
      <name>RabbitMqConfigWithMissingPassword</name>
      <server>127.0.0.1</server>
      <extraparams>
      </extraparams>
      <rabbitmqconfiguration>
        <hosturl>rabbitmq://localhost/</hosturl>
        <username>guest</username>
      </rabbitmqconfiguration>
    </connection>
    <connection>
      <bpserver />
      <port>8199</port>
      <callbackport>0</callbackport>
      <connectionmode>5</connectionmode>
      <ordered>False</ordered>
      <maxpendingchannels>16384</maxpendingchannels>
      <maxtransferwindowsize>4096</maxtransferwindowsize>
      <name>RabbitMqConfigWithMissingHostUrl</name>
      <server>127.0.0.1</server>
      <extraparams>
      </extraparams>
      <rabbitmqconfiguration>        
        <username>guest</username>
        <password>
          <secstr obf="BluePrism.Common.Security.EncryptingObfuscator" enc="22YGhrMVppgyHK6DyGzbRw==:HQ3Nu4SQoERuOuy+MDrD0A==" />
        </password>
      </rabbitmqconfiguration>
    </connection>
    <connection>
      <bpserver />
      <port>8199</port>
      <callbackport>0</callbackport>
      <connectionmode>5</connectionmode>
      <ordered>False</ordered>
      <maxpendingchannels>16384</maxpendingchannels>
      <maxtransferwindowsize>4096</maxtransferwindowsize>
      <name>NoRabbitMqConfig</name>
      <server>127.0.0.1</server>
      <extraparams>
      </extraparams>
    </connection>
  </connections>
  <businessobjects />
  
</config>
