/*<meta Version="9" conditions="Default.Not for translation" />*/

/* MadCap Table Style: */

mcTableStyle
{
	name: bp_footer_tablestyle;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #004990;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 5;
	cell-padding-top: 3px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	size: 90px;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column3;
	size: 90px;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #ff0000;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	name: Body1;
	id: 1;
	vertical-align: top;
	cell-padding-top: 10px;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}

/* Cell Styles: */

.TableStyle-bp_footer_tablestyle
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #004990;
	border-top-width: 2px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-bp_footer_tablestyle-Column-Column1
{
	width: 90px;
}

.TableStyle-bp_footer_tablestyle-Column-Column2
{
	
}

.TableStyle-bp_footer_tablestyle-Column-Column3
{
	width: 90px;
}

.TableStyle-bp_footer_tablestyle-Head-Header1
{
	
}

.TableStyle-bp_footer_tablestyle-HeadI-Column1-Header1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-HeadI-Column1-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadE-Column1-Header1
{
	padding-top: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-bottom-width: 2px;
	border-bottom-color: #ff0000;
	border-bottom-style: solid;
}

.TableStyle-bp_footer_tablestyle-HeadE-Column1-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadF-Column1-Header1
{
	padding-top: 3px;
	border-bottom-width: 2px;
	border-bottom-color: #ff0000;
	border-bottom-style: solid;
}

.TableStyle-bp_footer_tablestyle-HeadF-Column1-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadH-Column1-Header1
{
	padding-top: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-bp_footer_tablestyle-HeadH-Column1-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadD-Column1-Header1
{
	padding-top: 3px;
	border-bottom-width: 2px;
	border-bottom-color: #ff0000;
	border-bottom-style: solid;
}

.TableStyle-bp_footer_tablestyle-HeadD-Column1-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadC-Column1-Header1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-HeadC-Column1-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadB-Column1-Header1
{
	padding-top: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-bp_footer_tablestyle-HeadB-Column1-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadA-Column1-Header1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-HeadA-Column1-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadG-Column1-Header1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-HeadG-Column1-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadI-Column2-Header1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-HeadI-Column2-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadE-Column2-Header1
{
	padding-top: 3px;
	border-bottom-width: 2px;
	border-bottom-color: #ff0000;
	border-bottom-style: solid;
}

.TableStyle-bp_footer_tablestyle-HeadE-Column2-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadF-Column2-Header1
{
	padding-top: 3px;
	border-bottom-width: 2px;
	border-bottom-color: #ff0000;
	border-bottom-style: solid;
}

.TableStyle-bp_footer_tablestyle-HeadF-Column2-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadH-Column2-Header1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-HeadH-Column2-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadD-Column2-Header1
{
	padding-top: 3px;
	border-bottom-width: 2px;
	border-bottom-color: #ff0000;
	border-bottom-style: solid;
}

.TableStyle-bp_footer_tablestyle-HeadD-Column2-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadC-Column2-Header1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-HeadC-Column2-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadB-Column2-Header1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-HeadB-Column2-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadA-Column2-Header1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-HeadA-Column2-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadG-Column2-Header1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-HeadG-Column2-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadI-Column3-Header1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-HeadI-Column3-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadE-Column3-Header1
{
	padding-top: 3px;
	border-bottom-width: 2px;
	border-bottom-color: #ff0000;
	border-bottom-style: solid;
}

.TableStyle-bp_footer_tablestyle-HeadE-Column3-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadF-Column3-Header1
{
	padding-top: 3px;
	border-bottom-width: 2px;
	border-bottom-color: #ff0000;
	border-bottom-style: solid;
}

.TableStyle-bp_footer_tablestyle-HeadF-Column3-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadH-Column3-Header1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-HeadH-Column3-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadD-Column3-Header1
{
	padding-top: 3px;
	border-bottom-width: 2px;
	border-bottom-color: #ff0000;
	border-bottom-style: solid;
}

.TableStyle-bp_footer_tablestyle-HeadD-Column3-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadC-Column3-Header1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-HeadC-Column3-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadB-Column3-Header1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-HeadB-Column3-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadA-Column3-Header1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-HeadA-Column3-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-HeadG-Column3-Header1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-HeadG-Column3-Header1 p
{
	
}

.TableStyle-bp_footer_tablestyle-Foot-Footer1
{
	
}

.TableStyle-bp_footer_tablestyle-FootI-Column1-Footer1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-FootI-Column1-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootE-Column1-Footer1
{
	padding-top: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-bp_footer_tablestyle-FootE-Column1-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootF-Column1-Footer1
{
	padding-top: 3px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-bp_footer_tablestyle-FootF-Column1-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootH-Column1-Footer1
{
	padding-top: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-bp_footer_tablestyle-FootH-Column1-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootD-Column1-Footer1
{
	padding-top: 3px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-bp_footer_tablestyle-FootD-Column1-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootC-Column1-Footer1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-FootC-Column1-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootB-Column1-Footer1
{
	padding-top: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-bp_footer_tablestyle-FootB-Column1-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootA-Column1-Footer1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-FootA-Column1-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootG-Column1-Footer1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-FootG-Column1-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootI-Column2-Footer1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-FootI-Column2-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootE-Column2-Footer1
{
	padding-top: 3px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-bp_footer_tablestyle-FootE-Column2-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootF-Column2-Footer1
{
	padding-top: 3px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-bp_footer_tablestyle-FootF-Column2-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootH-Column2-Footer1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-FootH-Column2-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootD-Column2-Footer1
{
	padding-top: 3px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-bp_footer_tablestyle-FootD-Column2-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootC-Column2-Footer1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-FootC-Column2-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootB-Column2-Footer1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-FootB-Column2-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootA-Column2-Footer1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-FootA-Column2-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootG-Column2-Footer1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-FootG-Column2-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootI-Column3-Footer1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-FootI-Column3-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootE-Column3-Footer1
{
	padding-top: 3px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-bp_footer_tablestyle-FootE-Column3-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootF-Column3-Footer1
{
	padding-top: 3px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-bp_footer_tablestyle-FootF-Column3-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootH-Column3-Footer1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-FootH-Column3-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootD-Column3-Footer1
{
	padding-top: 3px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-bp_footer_tablestyle-FootD-Column3-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootC-Column3-Footer1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-FootC-Column3-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootB-Column3-Footer1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-FootB-Column3-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootA-Column3-Footer1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-FootA-Column3-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-FootG-Column3-Footer1
{
	padding-top: 3px;
}

.TableStyle-bp_footer_tablestyle-FootG-Column3-Footer1 p
{
	
}

.TableStyle-bp_footer_tablestyle-Body-Body1
{
	
}

.TableStyle-bp_footer_tablestyle-BodyI-Column1-Body1
{
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-bp_footer_tablestyle-BodyI-Column1-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyE-Column1-Body1
{
	vertical-align: top;
	padding-top: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-bp_footer_tablestyle-BodyE-Column1-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyF-Column1-Body1
{
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-bp_footer_tablestyle-BodyF-Column1-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyH-Column1-Body1
{
	vertical-align: top;
	padding-top: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-bp_footer_tablestyle-BodyH-Column1-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyD-Column1-Body1
{
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-bp_footer_tablestyle-BodyD-Column1-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyC-Column1-Body1
{
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-bp_footer_tablestyle-BodyC-Column1-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyB-Column1-Body1
{
	vertical-align: top;
	padding-top: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-bp_footer_tablestyle-BodyB-Column1-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyA-Column1-Body1
{
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-bp_footer_tablestyle-BodyA-Column1-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyG-Column1-Body1
{
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-bp_footer_tablestyle-BodyG-Column1-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyI-Column2-Body1
{
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-bp_footer_tablestyle-BodyI-Column2-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyE-Column2-Body1
{
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-bp_footer_tablestyle-BodyE-Column2-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyF-Column2-Body1
{
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-bp_footer_tablestyle-BodyF-Column2-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyH-Column2-Body1
{
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-bp_footer_tablestyle-BodyH-Column2-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyD-Column2-Body1
{
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-bp_footer_tablestyle-BodyD-Column2-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyC-Column2-Body1
{
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-bp_footer_tablestyle-BodyC-Column2-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyB-Column2-Body1
{
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-bp_footer_tablestyle-BodyB-Column2-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyA-Column2-Body1
{
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-bp_footer_tablestyle-BodyA-Column2-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyG-Column2-Body1
{
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-bp_footer_tablestyle-BodyG-Column2-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyI-Column3-Body1
{
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-bp_footer_tablestyle-BodyI-Column3-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyE-Column3-Body1
{
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-bp_footer_tablestyle-BodyE-Column3-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyF-Column3-Body1
{
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-bp_footer_tablestyle-BodyF-Column3-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyH-Column3-Body1
{
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-bp_footer_tablestyle-BodyH-Column3-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyD-Column3-Body1
{
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-bp_footer_tablestyle-BodyD-Column3-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyC-Column3-Body1
{
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-bp_footer_tablestyle-BodyC-Column3-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyB-Column3-Body1
{
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-bp_footer_tablestyle-BodyB-Column3-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyA-Column3-Body1
{
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-bp_footer_tablestyle-BodyA-Column3-Body1 p
{
	
}

.TableStyle-bp_footer_tablestyle-BodyG-Column3-Body1
{
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-bp_footer_tablestyle-BodyG-Column3-Body1 p
{
	
}

