/* MadCap Table Style: */

/*<meta Version="9" conditions="Default.Not for translation" />*/

mcTableStyle
{
	name: bp-table-row-header;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #dcdcdc;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	max-id: 4;
	cell-padding-left: 3px;
	cell-padding-right: 3px;
	cell-padding-bottom: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dcdcdc;
	text-align: left;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	name: Header1;
	id: 2;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	color: #0f4b8f;
	text-align: left;
	font-size: 10pt;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #0f4b8f;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dcdcdc;
	name: Body1;
	id: 1;
	font-size: 10pt;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	vertical-align: top;
	column-break-before: avoid;
	page-break-inside: avoid;
	text-align: left;
}


/* Cell Styles: */
 
.TableStyle-bp-table-row-header
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #dcdcdc;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #dcdcdc;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #dcdcdc;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dcdcdc;
	border-bottom-width: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-bp-table-row-header-Column-Column1
{
	
}

.TableStyle-bp-table-row-header-Head-Header1
{
	
}

.TableStyle-bp-table-row-header-HeadI-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	color: #0f4b8f;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-bp-table-row-header-HeadI-Column1-Header1 p
{
	color: #0f4b8f;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-bp-table-row-header-HeadE-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #0f4b8f;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #0f4b8f;
	border-bottom-style: solid;
}

.TableStyle-bp-table-row-header-HeadE-Column1-Header1 p
{
	color: #0f4b8f;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-bp-table-row-header-HeadF-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	color: #0f4b8f;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #0f4b8f;
	border-bottom-style: solid;
}

.TableStyle-bp-table-row-header-HeadF-Column1-Header1 p
{
	color: #0f4b8f;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-bp-table-row-header-HeadH-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #0f4b8f;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-bp-table-row-header-HeadH-Column1-Header1 p
{
	color: #0f4b8f;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-bp-table-row-header-HeadD-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	color: #0f4b8f;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #0f4b8f;
	border-bottom-style: solid;
}

.TableStyle-bp-table-row-header-HeadD-Column1-Header1 p
{
	color: #0f4b8f;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-bp-table-row-header-HeadC-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	color: #0f4b8f;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-bp-table-row-header-HeadC-Column1-Header1 p
{
	color: #0f4b8f;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-bp-table-row-header-HeadB-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #0f4b8f;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-bp-table-row-header-HeadB-Column1-Header1 p
{
	color: #0f4b8f;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-bp-table-row-header-HeadA-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	color: #0f4b8f;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-bp-table-row-header-HeadA-Column1-Header1 p
{
	color: #0f4b8f;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-bp-table-row-header-HeadG-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	color: #0f4b8f;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-bp-table-row-header-HeadG-Column1-Header1 p
{
	color: #0f4b8f;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-bp-table-row-header-FootI-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-bp-table-row-header-FootI-Column1- p
{
	
}

.TableStyle-bp-table-row-header-FootE-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-bp-table-row-header-FootE-Column1- p
{
	
}

.TableStyle-bp-table-row-header-FootF-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-bp-table-row-header-FootF-Column1- p
{
	
}

.TableStyle-bp-table-row-header-FootH-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-bp-table-row-header-FootH-Column1- p
{
	
}

.TableStyle-bp-table-row-header-FootD-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-bp-table-row-header-FootD-Column1- p
{
	
}

.TableStyle-bp-table-row-header-FootC-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-bp-table-row-header-FootC-Column1- p
{
	
}

.TableStyle-bp-table-row-header-FootB-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-bp-table-row-header-FootB-Column1- p
{
	
}

.TableStyle-bp-table-row-header-FootA-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-bp-table-row-header-FootA-Column1- p
{
	
}

.TableStyle-bp-table-row-header-FootG-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-bp-table-row-header-FootG-Column1- p
{
	
}

.TableStyle-bp-table-row-header-Body-Body1
{
	page-break-inside: avoid;
	column-break-before: avoid;
}

.TableStyle-bp-table-row-header-BodyI-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-bp-table-row-header-BodyI-Column1-Body1 p
{
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
}

.TableStyle-bp-table-row-header-BodyE-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-bp-table-row-header-BodyE-Column1-Body1 p
{
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
}

.TableStyle-bp-table-row-header-BodyF-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-bp-table-row-header-BodyF-Column1-Body1 p
{
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
}

.TableStyle-bp-table-row-header-BodyH-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-bp-table-row-header-BodyH-Column1-Body1 p
{
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
}

.TableStyle-bp-table-row-header-BodyD-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-bp-table-row-header-BodyD-Column1-Body1 p
{
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
}

.TableStyle-bp-table-row-header-BodyC-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-bp-table-row-header-BodyC-Column1-Body1 p
{
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
}

.TableStyle-bp-table-row-header-BodyB-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-bp-table-row-header-BodyB-Column1-Body1 p
{
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
}

.TableStyle-bp-table-row-header-BodyA-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-bp-table-row-header-BodyA-Column1-Body1 p
{
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
}

.TableStyle-bp-table-row-header-BodyG-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-bp-table-row-header-BodyG-Column1-Body1 p
{
	font-family: 'Calibri Light', Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
}


