<?xml version="1.0" encoding="utf-8"?>
<config>
  <server>
    <name>TestServer</name>
    <connection>TestConnection</connection>
    <port>8199</port>
    <ordered>False</ordered>
    <maxpendingchannels>16384</maxpendingchannels>
    <maxtransferwindowsize>4096</maxtransferwindowsize>
    <connectionmode>5</connectionmode>
    <verbose>True</verbose>
    <statuseventlogging>True</statuseventlogging>
    <CallbackConnection>
	    <CallbackProtocol>Grpc</CallbackProtocol>
      <HostName>TestLocalhost</HostName>
      <Port>8182</Port>
      <Mode>None</Mode>
      <CertificateName>TestCertName</CertificateName>
      <ClientCertificateName>TestClientCertName</ClientCertificateName>
      <ServerStore>My</ServerStore>
      <ClientStore>My</ClientStore>
    </CallbackConnection>
  </server>
  <connections>
    <connection>
      <bpserver />
      <port>8199</port>
      <callbackport>0</callbackport>
      <connectionmode>5</connectionmode>
      <ordered>False</ordered>
      <maxpendingchannels>16384</maxpendingchannels>
      <maxtransferwindowsize>4096</maxtransferwindowsize>
      <name>TestConnection</name>
      <server>127.0.0.1</server>
      <extraparams>
      </extraparams>
    </connection>
  </connections>
  <businessobjects />
</config>
