<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="false"
      autoReload="true"
      internalLogLevel="Fatal"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- the targets to write to -->
  <targets>
    <target name="app-console" 
            xsi:type="console"  
            layout="${longdate:universalTime=true} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message}${onexception:${newline}${exception:format=tostring}}" />
  </targets>

  <rules>
    <logger name="*" minlevel="DEBUG" writeto="app-console" />
  </rules>
</nlog>