<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  
  <config>
    <add key="signatureValidationMode" value="accept" />
	<add key="repositoryPath" value=".\packages" />
  </config>
  
 <trustedSigners> 
  <author name="BluePrism">
    <certificate fingerprint="111752007B80816E4D2E1BBD839BAE52D18EA177F5E616E6F43035EE3890AB4E" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
  </author>
  <author name="Babel">
    <certificate fingerprint="D9E556AD9CB1E0407D6A6DE13616144C6D02B350AC91101B2BE34B4B777F1A11" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
  </author>
  <repository name="nuget.org" serviceIndex="https://api.nuget.org/v3/index.json">
    <certificate fingerprint="0E5F38F57DC1BCC806D8494F4F90FBCEDD988B46760709CBEEC6F4219AA6157D" 
                 hashAlgorithm="SHA256" 
                 allowUntrustedRoot="false" />
    <!--<owners>Microsoft</owners>-->
  </repository>
 </trustedSigners>
  <packageSources>
    <add key="Local Source" value=".\packages" />
  </packageSources>
</configuration>
