# MassTransit style conventions editorconfig 
# Version: 0.1.0 (Using https://semver.org/)
# See http://EditorConfig.org for more information about .editorconfig files.
# See https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference for an up to date list of all editorconfig values that Visual Studio understands

[*.{cs,csx,cake,vb,vbx}]

##########################################
# Styles
##########################################

# pascal_case_style - Define the PascalCase style
dotnet_naming_style.pascal_case_style.capitalization = pascal_case

# MassTransit message contracts interfaces should use PascalCase
# https://masstransit-project.com/usage/messages.html
dotnet_naming_symbols.interface_group.applicable_kinds = interface
dotnet_naming_rule.interface_rule.symbols              = interface_group
dotnet_naming_rule.interface_rule.style                = pascal_case_style
dotnet_naming_rule.interface_rule.severity             = warning
