<?xml version="1.0" encoding="utf-8"?>
<config>
  <server>
    <name>TestServer</name>
    <connection>TestConnection</connection>
    <port>8199</port>
    <ordered>False</ordered>
    <maxpendingchannels>16384</maxpendingchannels>
    <maxtransferwindowsize>4096</maxtransferwindowsize>
    <connectionmode>5</connectionmode>
    <verbose>True</verbose>
    <statuseventlogging>True</statuseventlogging>
    <authenticationServerBrokerConfig>
      <brokerAddress>1</brokerAddress>
      <brokerUsername>2</brokerUsername>
      <brokerPassword enc="true">
        <secstr obf="BluePrism.Common.Security.EncryptingObfuscator"
                enc="oLZab5sS583WP4GbhlC/gw==:epIhz9jgQzxGlj/0/KlkUw==" />
      </brokerPassword>
      <environmentIdentifier>4</environmentIdentifier>
    </authenticationServerBrokerConfig>
	<CallbackConnection>
	    <CallbackProtocol>Grpc</CallbackProtocol>
      <HostName>TestLocalhost</HostName>
      <Port>8182</Port>
      <Mode>None</Mode>
      <CertificateName>TestCertName</CertificateName>
      <ClientCertificateName>TestClientCertName</ClientCertificateName>
      <ServerStore>TrustedPublisher</ServerStore>
      <ClientStore>TrustedPeople</ClientStore>
    </CallbackConnection>
  </server>
  <connections />
  <businessobjects />
</config>
